<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="VijaySridhara.Applications.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
    <userSettings>
        <VijaySridhara.Applications.My.MySettings>
            <setting name="Rempwd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="un" serializeAs="String">
                <value/>
            </setting>
            <setting name="pw" serializeAs="String">
                <value/>
            </setting>
            <setting name="Isreg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Appearance" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="AlreadySet" serializeAs="String">
                <value>False</value>
            </setting>
        </VijaySridhara.Applications.My.MySettings>
    </userSettings>
</configuration>
